<!DOCTYPE html>
<html lang="en">
<head>
	<th:block th:replace="fragments/resources :: src-head"></th:block>
	<link rel="stylesheet" href="/css/events-style.css" />
	<title>Add Events</title>
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>   
</head>
<body>
<!-- TITOLO -->
	<h1 class="heading">Create your amazing event <span>sponsored by us: </span></h1>
<!-- TITOLO -->
	<form
     id = "formEvent"
     th:object="${event}"
     th:action="@{/addEvent}"
     method="POST"
   	>
  		<!-- HIDDEN INPUT PER ID -->
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{eventImage}">
		<input type="hidden" th:field="*{eventBooket}">
		<!-- HIDDEN INPUT PER ID -->
		
  		<!-- INIZIO DIV NOME + DESCRIZIONE -->
	  	<div class="col-4 container">

	  		<!-- INIZIO INPUT NOME FORM -->
			<div class="mb-3">
				<input type="text" id="name" class="form-control" th:field="*{name}"  placeholder="Nome Evento" th:errorClass="is-invalid">
				<!-- DIV ERRORI NOME -->
				<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
		        <ul><li class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></ul> 
			    </div>
			    <!-- DIV ERRORI NOME -->
		    </div>
		    <!-- FINE INPUT NOME FORM -->
		    
		    <!-- INIZIO INPUT DESCRIZIONE FORM -->
		    <div class="mb-3">
			    <textarea type="text" rows="10" id="description" class="form-control h-100" th:field="*{description}" placeholder="Description" th:errorClass="is-invalid"></textarea>
			    <!-- DIV ERRORI NOME -->
			    <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
			    <ul><li class="error" th:each="err : ${#fields.errors('description')}" th:text="${err}"></ul>
			    </div>
			    <!-- DIV ERRORI DESCRIZIONE -->
		    </div>
		    <!-- FINE INPUT DESCRIZIONE FORM -->
		    
	  	</div>
  		<!-- FINE DIV NOME + DESCRIZIONE -->
  		<!-- INIZIO DIV DATE INIZIO + FINE -->
  		<div class="col-4 container">
  		
	  		<!-- INIZIO INPUT DATA INIZIO FORM -->
			<div class="mb-3">
			    <input pattern="yyyy-MM-dd'T'HH:mm" type="datetime-local" id="startDate" class="form-control" th:field="*{startDate}"  th:errorClass="is-invalid" required>
				<!-- DIV ERRORI DATA INIZIO -->
				<div th:if="${#fields.hasErrors('startDate')}" class="invalid-feedback">
				<ul><li class="error" th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></ul>
				</div>
		    	<!-- DIV ERRORI DATA INIZIO -->
		    </div>
		    <!-- FINE INPUT DATA INIZIO FORM -->
		
			<!-- INIZIO INPUT DATA FINE FORM -->
		    <div class="mb-3">
		    <input pattern="yyyy-MM-dd'T'HH:mm" type="datetime-local" id="endDate" class="form-control" th:field="*{endDate}"  th:errorClass="is-invalid" required>
		        <!-- DIV ERRORI DATA FINE -->
		        <div th:if="${#fields.hasErrors('endDate')}" class="invalid-feedback">
		        <ul><li class="error" th:each="err : ${#fields.errors('endDate')}" th:text="${err}"></ul>
		        </div>
		        <!-- DIV ERRORI DATA FINE -->    
		    </div>
		    <!-- FINE INPUT DATA FINE FORM -->
		    
	    </div>
	    <!-- FINE DIV DATE INIZIO + FINE -->
	<!--</div>-->
	    <!-- INIZIO VISIBILITY + PUBLICATION FORM -->
      	<!--
      	<fieldset>
      	
	        <legend class="text">Is your event Active?</legend>
	        <div class="status">
	        <input type="radio" id="publishedStatus" name="publishedStatus" value="true" checked>
	        <label for="activeted">Yes, it's still active</label>
	        </div>
	        
	        <div class="status">
	        <input type="radio"  id="publishedStatus" name="publishedStatus" value="false"> 
	        <label for="notActived">No, it got cancelled</label>
	        </divclass>
	    	</fieldset>
		
	    <fieldset>
	        <legend class=text>Do you want to publish it?</legend>
	    <th:block th:if="*{id}!=null">
	        <div class="status">
	        <input type="radio" id="visible" name="visible" value="true">
	        <label for="activeted">Yes, my event is ready!</label>
	        </div>
	     </th:block>   
	     
	        <div class="status">
	        <input type="radio" id="visible" name="visible" value="false" checked>
	        <label for="notActivated">My event isn't ready yet</label>
	        </div>
	   
    	</fieldset>
    	-->
    	<!-- FINE VISIBILITY + PUBLICATION FORM -->
		<!-- INIZIO LOCATION + CATEGORY FORM -->
		<div>
			<!-- DIV LOCATION -->
			<div class="col-4 container"><h2>Location:</h2>
			<select class="form-select text-dark"th:field="*{eventLocation}">
				<option
				 class="form-check-input" type="radio"
				 th:each="i : ${listLocation}"
				 th:value="${i.id}"
				 th:selected="${i.id==1}"
				 th:id="${i.id}"
				>
				<label class="form-check-label" th:for="|${i.id}|" th:text="${i.name}"></label>
				</option>	
			</select>
			</div>
			<!-- DIV LOCATION -->
			<!-- DIV CATEGORY -->
	    	<div class="col-4 container"><h2>Categories:</h2>
			<div class="form-checked" th:each="i : ${categoriesList}">
			    <input class="form-check-input" type="checkbox" th:field="*{categories}" th:id="|${i.id}|" th:value="${i.id}">
				<label class="form-check-label" th:for="|${i.id}|" th:text="${i.name}"></label>
			</div>
			</div>
		
		</div>
		<!-- FINE LOCATION + CATEGORY FORM -->
		
		<!-- BOTTONI SAVE E CANCEL -->
		<div class=" buttons">
		  	<button type="submit" class="btn btn-save">Save</button>
		  	<a class="btn btn-cancel" href="">Cancel</a>
	  	</div>
	  	<!-- BOTTONI SAVE E CANCEL -->
	  	
	</form>
<th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>
<th:block th:replace="fragments/script :: swiper-js"></th:block>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>