<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/resources :: src-head"></th:block>
    <link rel="stylesheet" href="/css/events-style.css" />
        <th:block th:replace="fragments/navbar :: navbar"></th:block>   
    <title>Events Info</title>
</head>
<body>
 <h1>Events <span>Info</span></h1>
<h3 class="call-to-action">
    To add an event click <a href="/addEvent" class="btn btn-here">here</a>
</h3>
<form
    id = "formBooking"
  	th:object="${booking}"
  	th:action="@{/booket}"
  	method="POST"
   	class=" m-auto"
    >
    	<ul>
    		<li th:each="error : ${#fields.allErrors()}" th:text="${error}">
       		</li>
    	</ul>
    	<div class="col-4 form-check" >
    	<p>Posti disponibili: <span th:text="${booking.eventBooket.eventLocation.booketAvailable}"></span></p>
			<label class="txt" for="quantity">Enter number of people:</label>
			<input type="hidden" th:field="*{eventBooket}">
 				<input class="form-bar" type="number" id="quantity" name="quantity" min="1" th:field="*{numberBooket}">
 				<div th:if="${#fields.hasErrors('numberBooket')}">
 					<ul>
 						<li th:each="error : ${#fiels.errors('numberBooket')}" th:text="${error}"></li>
 					</ul>
 				</div>		
	</div>
	   	<div class="col-4 form-check" >
			<label class="txt" for="email">Enter your email address:</label>
			<input type="hidden" th:field="*{eventBooket}">
 				<input class="form-bar2" type="email" id="email" size="30" required name="email" th:field="*{email}">
 				<div th:if="${#fields.hasErrors('email')}">
 					<ul>
 						<li th:each="error : ${#fiels.errors('email')}" th:text="${error}"></li>
 					</ul>
 				</div>		
	</div>
	  	<button type="submit" class="btn save-info">Save</button>
<th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>	  	
</body>
</html>