<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/resources :: src-head"></th:block>
    <link rel="stylesheet" href="/css/events-style.css" />
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>   
    <title>Events</title>
<h1>
    List of active events:
</h1>
<h2 class="call-to-action">
    To add an event click <a href="/addEvent" class="btn btn-here">here</a>
</h2>

    <div class="container-card">
        <div class="card-event" th:each="e : ${listEvents}">
	        <div class="title-block">
	            <h2 th:text="${e.name}"></h2>
	            <div class="info-button" >
					<a th:href="@{|/events/${e.id}|}" title="Info">
				  		<i class="fa-solid fa-info"></i>
				  	</a>
	            </div>
	        </div>
	    	<div class="img-container">

            	<img class="card-img" th:if="${e.eventImage.isEmpty() == false}" th:src="@{|/images/${e.getPosterImg.id}/content|}">

	        </div>
	        <div class="tags">
	        	<p th:each="c : ${e.categories}" th:text="${c.name}"></p>
	        </div>
	        <div class="dates">
		        <div class="start-date">
	            	<h3>Start date</h3>
	            	<p th:text="${e.startDate}"></p>
	            </div>
	            <div class="end-date">
	            	<h3>End date</h3>
	            	<p th:text="${e.endDate}"></p>
	            </div>
            </div>
            <div class="buttons">
            	<div class="edit-button">
	            	<a class="" th:href="@{|/editEvent/${e.id}|}" title="Edit">
				  		<i class="fa-solid fa-pen-to-square"></i>
				  	</a>
            	</div>
            	<div class="images-button">
			  		<a th:href="@{|/images/${e.id}|}" title="Add image">
			  			<i class="fa-regular fa-images"></i>
			  		</a> 
            	</div>
            </div>
        </div>
    </div>
    
    <th:block th:replace="fragments/script :: swiper-js"></th:block>
    <th:block th:replace="fragments/footer :: footer"></th:block>

	</body>

</html>