<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<h1>
    Descrizione dell evento con id <spanh1 th:text="${eventInfo.id}"></spanh1> 
<h2>
    Per aggiungere gli eventi <a href="/addEvent">clicca qua</a>
</h2>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Data inizio</th>
                <th>Data fine</th>
                <th>Stato pubblicato</th>
                <th>Stato annullato</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${eventInfo}">
                <td th:text="${e.name}"></td>
                <td th:text="${e.description}"></td>
                <td th:text="${e.startDate}"></td>
                <td th:text="${e.endDate}"></td>
                <td th:text="${e.publishedStatus}"></td>
                <td th:text="${e.visible}"></td>
            </tr>
        </tbody>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="list : ${listCategories}">
                        <td th:text="${list.name}"></td>
                    </tr>
                </tbody>
            </table>
    </table>
</body>
</html>