<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/resources :: src-head"></th:block>
    <link rel="stylesheet" href="/css/events-style.css" />
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>   
    <title>Events Info</title>
</head>
<body>
	<input="hidden" th:field="*{eventInfo.id}">
	
	<div th:each="e : ${eventInfo}" class="info">
		<h1 th:text="${e.name}"></h1>
		<img th:if="${e.eventImage.size() == 0}" src="/img/concert-love.webp">
		<img th:if="${e.eventImage.isEmpty() == false}" th:src="@{|/images/${e.getPosterImg.id}/content|}" >
		<h2>What about this event?</h2>
		<p th:text="${e.description}"></p>
		<h2>When?</h2>
		<div class="dates">
			<p th:text="${#temporals.format(e.endDate, 'dd MMMM yyyy HH:mm')}"></p>
			<p th:text="${#temporals.format(e.startDate, 'dd MMMM yyyy HH:mm')}"></p>
		</div>
		<div th:each="e : ${eventInfo}">
			<p th:each="list : ${e.categories}" th:text="${list.name}"></p>
		</div>
	</div>
	<a th:href="@{|/booket/${eventInfo.id}|}" class="btn btn-book">Book</a>
	
    <th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>
	<th:block th:replace="fragments/script :: swiper-js"></th:block>
	<th:block th:replace="fragments/footer :: footer"></th:block></body>
    	
</body>
</html>