<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="fragments/resources :: src-head"></th:block>
    <title>Document</title>
</head>
<body>
	<th:block th:replace="fragments/navbar :: navbar"></th:block>
	<h1>
	    Lista di tutti gli eventi attivi:
	</h1>
	<h2>
	    Per aggiungere gli eventi <a href="/addEvent">clicca qua</a>
	</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data inizio</th>
                <th>Data fine</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${listEvents}">
                <td th:text="${e.name}"></td>
                <td th:text="${e.startDate}"></td>
                <td th:text="${e.endDate}"></td>
                <!-- INIZIO BOTTONI LISTA EVENTI -->
	                <!-- INIZIO BTN MODIFICA -->
	                <td>
		                <a class="btn btn-primary" th:href="@{|/editEvent/${e.id}|}" title="Edit">
			  				<i class="fa-solid fa-pen-to-square"></i>
			  			</a> 
		  			</td>
		  			<!-- FINE BTN MODIFICA   -->
		  			<!-- INIZIO BTN INFO -->
                    <td>
	                    <a class="btn btn-warning" th:href="@{|/events/${e.id}|}" title="info">
		  					<i class="fa-solid fa-pen-to-square"></i>
		  				</a> 
	  				</td>
	  				<!-- FINE BTN INFO   -->
	  				<!-- INIZIO BTN IMG -->
                    <td>
	                    <a class="btn btn-success" th:href="@{|/images/${e.id}|}" title="info">
		  					<i class="fa-solid fa-pen-to-square"></i>
		  				</a> 
	  				</td>
	  				<!-- FINE BTN IMG   -->
	  			<!-- FINE BOTTONI LISTA EVENTI   -->
	  			
            </tr>
        </tbody>
    </table>
    
    <th:block th:replace="fragments/script :: swiper-js"></th:block>
	</body>
</html>