<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/resources :: src-head"></th:block>
    <link rel="stylesheet" href="/css/events-style.css" />
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>   
    <title>Events Info</title>
</head>
<h1 class="heading">
    <span>Event's description</span> with id <spanh1 th:text="${eventInfo.id}"></spanh1> 
<h2>
    To add an event click <a href="/addEvent" class="btn btn-here">here</a>
</h2>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Publication status</th>
                <th>Visibility status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${eventInfo}">
                <td th:text="${e.name}"></td>
                <td th:text="${e.description}"></td>
                <td th:text="${e.startDate}"></td>
                <td th:text="${e.endDate}"></td>
                <td th:text="${e.publishedStatus}"></td>
                <td th:text="${e.visible}"></td>
            </tr>
        </tbody>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody th:each="e : ${eventInfo}">
                    <tr th:each="list : ${e.categories}">
                        <td th:text="${list.name}"></td>
                    </tr>
                </tbody>
            </table>
    </table>
    <img>
    <form
    id = "formBooking"
  	th:object="${booking}"
  	th:action="@{redirect:/eventInfo}"
  	method="POST"
   	class=" m-auto"
    >
    	<div class="col-4 form-check" >
			<label for="quantity"></label>
 			<input type="number" id="quantity" name="quantity" min="1" th:value="${numberBooket}">
 			<input type="submit">			
		</div>
    </form>
    <th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>
	<th:block th:replace="fragments/script :: swiper-js"></th:block>
	<th:block th:replace="fragments/footer :: footer"></th:block></body>
</html>