<!DOCTYPE html>
<html lang="it">
	<head>
	
	    <th:block th:replace="fragments/resources :: src-head"></th:block>
	    <title>Categories</title>
	    
	</head>
	<body>
	<!-- NAVBAR -->
	<th:block th:replace="fragments/navbar :: navbar"></th:block>	    
	    
	<!-- INIZIO SEZIONE EDITOR DELLA LISTA CATEGORIE -->
	<section class="home" id="home">
		<div class="content">
		    <h3>Vuoi fare <span> ordine? </span>Usa le nostre<span> categorie! </span></h3>
		</div>
	</section>
	<!-- FINE SEZIONE EDITOR DELLA LISTA CATEGORIE   -->
	<!-- INIZIO SEZIONE FORM AGGIUNGI/MODIFICA CATEGORIE -->
	<section class="container">
		<div class="row">
			<div class="col-8">
			</div>
		</div>
	</section>
	<!-- FINE SEZIONE FORM AGGIUNGI/MODIFICA CATEGORIE   -->
	<!-- INIZIO SEZIONE LISTA CATEGORIE -->
	<section>
		<div class="container">
			<table class="table text-light">
	        <thead>
	            <tr>
	                <th class="col-4 text-center">Nome</th>
	                <th class="col-8 text-center">Descrizione</th>
	            </tr>
	        </thead>
		        <tbody>
		            <tr th:each="cl : ${categoriesList}">
		                <td th:text="${cl.name}"></td>
		                <td th:text="${cl.description}"></td>
		            </tr>
		        </tbody>
	   		</table>
		</div>
	</section>
	<!-- FINE SEZIONE LISTA CATEGORIE   -->
	
	<th:block th:replace="fragments/script :: swiper-js"></th:block>
	</body>
</html>