<!DOCTYPE html>
<html lang="it">
	<head>
	
	    <th:block th:replace="fragments/resources :: src-head"></th:block>
	    <link rel="stylesheet" href="/css/location-style.css" />
	    <title>Categories</title>
	    
	</head>
	<body>
	<!-- NAVBAR -->
	<th:block th:replace="fragments/navbar :: navbar"></th:block>	    
	    
	<!-- INIZIO SEZIONE EDITOR DELLA LISTA CATEGORIE -->
	<section class="home">
		<div class="content">
		    <h3>Do you want to <span> place an order? </span>Use our<span> categories! </span></h3>
		</div>
	</section>
	<!-- FINE SEZIONE EDITOR DELLA LISTA CATEGORIE   -->
	<!-- INIZIO SEZIONE FORM AGGIUNGI/MODIFICA CATEGORIE -->
	<section class="container">
		<div class="row">
			<div class="col-12">
				<form
				id = "formCategory"
				th:object="${category}"
				th:action="@{/categories/addCategory}"
				method="POST"
				>
				
					<div class="form">
						<input type="hidden" th:field="*{id}">
						<div class="form-items">
		    				<label for="name">Name</label>
		    				<input id="name" th:field="*{name}" type="text" placeholder="Name...">
	    				</div>
	    				<div class="form-items">
		    				<label for="description">Description</label>
		    				<textarea class="text-dark" id="description" th:field="*{description}" type="text" placeholder="Description..."></textarea>
    					</div>
    					<div class="buttons-save-cancel">
		    				<button class="btn" type="submit">Save</button>
		    				<button class="btn" type="reset">Cancel</button>
    					</div>
					</div>
					
				</form>
			</div>
		</div>
	</section>
	<!-- FINE SEZIONE FORM AGGIUNGI/MODIFICA CATEGORIE   -->
	<!-- INIZIO SEZIONE LISTA CATEGORIE -->
	<section>
		<div class="container-table">
			<table class="content-table">
			<thead>
	             <tr>
	                <th class="col-4">Name</th>
	                <th class="col-8">Description</th>
	             </tr>
			</thead>
		        <tbody>
		            <tr class="list" th:each="cl : ${categoriesList}">
		                <td class="name" th:text="${cl.name}"></td>
		                <td class="description" th:text="${cl.description}"></td>
		            </tr>
		        </tbody>
	   		</table>
		</div>
	</section>
	<!-- FINE SEZIONE LISTA CATEGORIE   -->
	<th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>
	<th:block th:replace="fragments/script :: swiper-js"></th:block>
    <th:block th:replace="fragments/footer :: footer"></th:block>
	</body>
</html>