<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
<section class="footer-swiper">
   <div class="box-container">
   <div class="box">
       <h3>quick links</h3>
       <a href="#"><i class="fas fa-map-marker-alt"></i> roma </a>
       <a href="#"><i class="fas fa-map-marker-alt"></i> firenze </a>
       <a href="#"><i class="fas fa-map-marker-alt"></i> napoli </a> 
       <a href="#"><i class="fas fa-map-marker-alt"></i> palermo </a>
       <a href="#"><i class="fas fa-map-marker-alt"></i> milano </a>
   </div>
   <div class="box">
       <h3>quick links</h3>
       <a href="#"><i class="fas fa-arrow-right"></i> home </a>
       <a href="#"><i class="fas fa-arrow-right"></i> login </a>
       <a href="#"><i class="fas fa-arrow-right"></i> event </a> 
       <a href="#"><i class="fas fa-arrow-right"></i> gallery </a>
       <a href="#"><i class="fas fa-arrow-right"></i> contact </a>
   </div>
   <div class="box">
       <h3>contact info</h3>
       <a href="#"><i class="fas fa-phone"></i> +123-456-789 </a>
       <a href="#"><i class="fas fa-phone"></i> +111-222-333 </a>
       <a href="#"><i class="fas fa-envelope"></i> booket@gmail.com </a>
       <a href="#"><i class="fas fa-envelope"></i> booket.info@gmail.com </a>
       <a href="#"><i class="fas fa-map-marker-alt"></i> Via Spirito Santo 33, 20121 Milano,Italia </a> 
   </div>
   <div class="box">
       <h3>follow us</h3>
       <a href="#"><i class="fa-brands fa-square-facebook"></i> facebook </a>
       <a href="#"><i class="fa-brands fa-square-twitter"></i> twitter </a>
       <a href="#"><i class="fa-brands fa-instagram"></i> instagram </a> 
       <a href="#"><i class="fa-brands fa-linkedin"></i> linkedin</a>
   </div>
   </div>
   <div class="copyright"> ©Copyrights – 2022<span> Booket </span> by Team Fantastic4 | All rights reserved.</div> 
</div>
</section>
</th:block>
</body>
</html>