<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!-- INIZIO Navbar-->
    <th:block th:fragment="navbar" class="navbar-swiper">
	    <header class="header-swiper">
	        <a href="#" class="logo swiper-font"><span>BOOK</span>ET</a>
	        <nav class="navbar-swiper">
	            <a class="swiper-font" href="#home">Home</a>
	            <a class="swiper-font" href="#login">Login</a>
	            <a class="swiper-font" href="#event">Event</a>
	            <a class="swiper-font" href="#about">About</a>
	            <a class="swiper-font" href="#gallery">Gallery</a>
	            <a class="swiper-font" href="#contact">Contact</a>            
	        </nav>
	    	<div id="menu-bars" class="fas fa-bars"></div>
	    </header>
    </th:block>
    <!-- FINE Navbar-->

</body>

