<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!-- INIZIO Navbar-->
    <th:block th:fragment="navbar" class="navbar-swiper">
	    <header class="header-swiper">
	        <a href="#" class="logo swiper-font">BOOK<span>ET</span></a>
	        <nav class="navbar-swiper">

	            <a class="swiper-font" href="/">Home</a>
	            <a class="swiper-font" href="/ourEvents">Events</a>
				<a class="swiper-font" href="/contact">Contact</a>
				<!--
				<a class="swiper-font" href="/categories">Categories</a>
	            <a class="swiper-font" href="/location">Locations</a>  
				-->
	        </nav>
	    	<div id="menu-bars" class="fas fa-bars"></div>
	    	<div>
			    <form class="search d-flex align-items-center" action="/search">
		        	<input  type="text" placeholder="Search" name="queryName">
		        	<a class="btn-search">
		        		<i class="fa-solid fa-magnifying-glass"></i>
		        	</a>
		       	</form>
	        </div>		    	     		           
	    </header>
    </th:block>
    <!-- FINE Navbar-->
</body>
</html>

