<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <th:block th:replace="fragments/resources :: src-head"></th:block> 
      <link rel="stylesheet" href="/css/error-style.css" />  
<title>404 Error page</title>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"></th:block> 
<div class="container-error">
  <img src="img/error500.gif" alt="">
  <h2>Hmm....</h2>
  <p>OPS!PAGE NOT FOUND</p>
  <a class="btn" href="/">Back to Home</a>
</div>
 <th:block th:replace="fragments/script :: swiper-js"></th:block> 
</body>
</html>