  *
  { 
	 margin:0;
	 padding-top:0;
	 box-sizing:border-box;
	 font-family:'Poppins', sans-serif;
	 color:#fff;
  }
  
   
  body 
  {
	 justify-content:center;
	 align-items:center;
	 height:100vh;
	 background-color:#333;
   }
   .container-error
   {
	 display:flex;
     justify-content: center;
	 align-items:center;
	 flex-direction:column;
    }
  .back-home{
	margin-bottom:35px;
}
  .message{
	font-size:35px;
	color:var(--main-color);
}
 .container-error{
	width:100%;
	background-color:#1c1519;
	background-size:cover;
	background-position:top;
	overflow:hidden;
}
.container-error-400{
	width:100%;
	background-color:#333;
	background-size:cover;
	background-position:top;
	overflow:hidden;
	display:flex;
     justify-content: center;
	 align-items:center;
	 flex-direction:column;
}
