.form-search{
	display:flex;
	margin-top: 30px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
}
.form-search input{
	border-radius: 20px;
	margin: 10px;
	border: 2px solid white;
	font-size: 15px;
	color: black;
}
.button-search{
	width: 100px;
	border-radius: 20px;
	font-size: 18px;
	background-color: var(--main-color);
	border: 2px solid var(--main-color);
	font-weight: 600;
	padding: 5px 10px;
}

.button-search:hover{
	background-color:#222;
	color: white;
	transform:scale(1.05);	
}