@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap');
:root{
    --main-color:rgb(107, 205, 244);
}

*{  
	font-family: "Poppins", sans-serif;
	color:#fff;
}
.swiper-font{
    font-family:'Poppins', sans-serif ;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;	
}
html{
font-size: 62.5%;
overflow-x:hidden;
scroll-padding-top: 10px;
scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 5px;

}
html::-webkit-scrollbar-track{
    background: #111;
}
body{
    background: #222;
}
section{
    padding:2rem 9%;

}
.heading{
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-size:4rem;
}
.heading span{
	color:var(--main-color);
	text-transform:uppercase;
}
.btn{
    display: inline-block;
    padding: .6rem 3rem;
    font-size: 1.7rem;
    border-radius: 20px;
    background:#555 ;
    color: #fff;
    cursor: pointer;font-weight: 600;
    text-transform:capitalize;
}
.btn:hover{
    background-color:var(--main-color) ;
}
.header-swiper{
    position:fixed;
    top:0;left: 0; right: 0;
    height:50px;
    z-index: 1000;
    background:#111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header-swiper .logo{

    font-weight: bolder;
    color: #fff;
    font-size: 25px;

}
.header-swiper .logo span{
    color: var(--main-color);
}
.navbar-swiper{
	padding-left:180px;
}

.header-swiper .navbar-swiper a{
	
    font-size: 15px;
    color: #fff;
    margin-left: 25px;
} 
.header-swiper .navbar-swiper a:hover{
    color:var(--main-color);
}
.search-form{
	position:flex;
	margin-top:10px;
	margin-bottom:7px;
	color:black;
}
input[type=text]{
	padding:7px;
	border:none;
	font-size:15px;
	font-family:'Poppins', sans-serif ;
    border-radius:5px;
    padding-top:7px;
   
}

#menu-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
.home .content{
text-align: center;
padding-top:50px;
margin:2rem auto;
max-width:70rem ;

}
.home .content h3{
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;

}
.home .content h3 span{
    color: var(--main-color);
    text-transform: uppercase;
}
.home .home-slider .swiper-slide{
overflow:hidden;
border-radius: 1rem;
height: 50rem;
width: 35rem;
margin-top:50px;
}
.home .home-slider .swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.swiper-button-prev{
	color:var(--main-color);
	}
.swiper-button-next{
	color:var(--main-color);
	}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}  
.about .row .image{
    flex:1 1 45rem;
    padding:7rem ;
 
}
.about .row .image img{
 width:100%;
 border-radius:.9rem;
 border: 1rem solid #333;
 
}
.about .row .content{
    flex:1 1 45rem;
}
.about .row .content h3{
	font-size:3.5rem;
	color:#fff;
	text-transform:capitalize;
	}
.about .row .content p{
	font-size:1.5rem;
	color:#eee;
	padding:1rem 0;
	line-height:2;
	}
.contact form{
	max-width:70rem;
	margin:1rem auto;
	text-align:center;
}
.contact form .inputBox{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.contact form .inputBox input,
.contact form textarea{
	width:100%;
	background:#fff;
	border-radius: 20px;
	padding:1rem;
	margin:.7rem 0;
	font-size:1.5rem;
	font-weight:400;
	color:#333;
	text-transform: none;
}
.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
	text-transform: capitalize;
}
.contact form .inputBox input:focus,
.contact form textarea:focus{
    background-color:#fff;
}
.contact form .inputBox input{
	width:49%;
}
.contact form textarea{
	resize:none;
}
.contact form .inputBox input{
		width:100%;
	}
.theme-toggler{
	position:fixed;
	top:10rem;right:-20rem;
	background:#3333;
	z-index:1000;
	width:20rem;
	text-align:center;
}
.theme-toggler.active{
	right:0;
	}
.theme-toggler h3{
	color:#fff;
	padding:1rem 0;
	font-size:2rem;
	}	
.theme-toggler .buttons{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	gap:1rem;
	padding:1rem;
	}
.theme-toggler .buttons .theme-btn{
	height:5rem;
	width:5rem;
	border-radius:50%;
	cursor:pointer;
	}
.theme-toggler .toggle-btn{
	position:absolute;
	top:0; left:-5.9rem;
	padding:1.3rem 1.5rem;
	background:#111;
	cursor:pointer;
}
.theme-toggler .toggle-btn i{
	color:#fff;
	font-size:3rem;
	animation:spin 4s linear infinite;
	}
@keyframes spin{
	0%{
		transform:rotate(360deg);
		
      }
}


































/* media queries*/
@media  (max-width:991px){
    html{
        font-size: 55%;
        }
   .header-swiper{
    padding:1.5rem 2rem;
   }
    section{
        padding: 2rem;

    }   
}
@media (max-width:768px){

    #menu-bars{

        display: initial;
    }
     .header-swiper .navbar-swiper{
        position: absolute;
        top: 100%; left: 0; right: 0;
        border-top: .1rem solid #111;
        background: #333;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
     }
     .header-swiper .navbar-swiper.active{
        clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
     }
    .fa-times{
     transform: rotate(180deg);  
     }
            
     .header-swiper .navbar-swiper a{
        display: flex;
        background: #111;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
     }
    .home .content h3{
        font-size: 4rem;
    }
 }
@media (max-width:450px){
    html{
        font-size: 50%;
        }
        .home .home-slider .swiper-slideP{
         width: 27rem;
        } 
   }
   .footer-swiper{
	background:#111;
	}
	.footer-swiper .box-container{
	text-align:center;
	font-family:'Poppins', sans-serif ;
	text-transform:capitalize;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap:5rem;	
	}
	.footer-swiper .box-container .box h3{
	    font-size: 1.5rem;
		padding:1rem 0;
		color:var(--main-color);	
	}
	.footer-swiper .box-container .box a{
		display:block;
		font-size: 1rem;
		padding:1rem 0;
		color:#eee;
	}
	.footer-swiper .box-container .box a:hover{
		padding-right:1.5rem;
		color:var(--main-color);
		}
	.footer-swiper .box-container .box a i{
		padding-right: .5rem;
		color:var(--main-color);	
	}
	.footer-swiper .box-container .box a:hover i{
		padding-right:1.5rem;
		color:#fff;
	}
	.footer-swiper .copyright{
		text-align:center;
		border-top:.2rem solid #222;
		color:#fff;
		padding:1rem;
		padding-top:1rem;
		padding-bottom:1rem;
		margin-top:1rem;
		font-size:1.5rem;
	}
	.footer-swiper .copyright span{
		color:var(--main-color);
	}
	