@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap');
:root{
    --main-color:rgb(107, 205, 244);
}
.swiper-font{
    font-family:'Poppins', sans-serif ;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;	
}

html{
font-size: 62.5%;
overflow-x:hidden;
scroll-padding-top: 10px;
scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 5px;

}
html::-webkit-scrollbar-track{
    background: #111;
}
body{
    background: #222;
}
section{
    padding:2rem 9%;

}
.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background:#555 ;
    color: #fff;
    cursor: pointer;font-weight: 600;
}
.btn:hover{
    background-color:var(--main-color) ;
}
.header-swiper{
	position:fixed;
    top:0;left: 0; right: 0;
    z-index: 100;
    background:#111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 9%;
}
.header-swiper .logo{

    font-weight: bolder;
    color: #fff;
    font-size: 25px;

}
.header-swiper .logo span{
    color: var(--main-color);
}

.header-swiper .navbar-swiper a{
    font-size: 15px;
    color: #fff;
    margin-left: 15px;
} 
.header-swiper .navbar-swiper a:hover{
    color:var(--main-color);
}
#menu-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
.home .content{
text-align: center;
padding-top: 6rem;
margin:2rem auto;
max-width:70rem ;

}
.home .content h3{
	
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;

}
.home .content h3 span{
    color: var(--main-color);
    text-transform: uppercase;
}
.home .home-slider .swiper-slide{
overflow:hidden;
border-radius: 1rem;
height: 50rem;
width: 35rem;
padding-top: 1rem;
}
.home .home-slider .swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.swiper-button-prev{
	color:var(--main-color);
	}
.swiper-button-next{
	color:var(--main-color);
	}	
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}  
.about .row .image{
    flex:1 1 45rem;
    padding:1rem ;
}
.about .row .image img{
 width:50%;
 border-radius:.5rem;
 border: 1rem solid #111;
}






































/* media queries*/
@media (max-width:991px){
    html{
        font-size: 55%;
        }
   .header-swiper{
    padding:1.5rem 2rem;
   }
    section{
        padding: 2rem;

    }   
}
@media (max-width:768px){

    #menu-bars{

        display: initial;
    }
     .header-swiper .navbar-swiper{
        position: absolute;
        top: 100%; left: 0; right: 0;
        border-top: .1rem solid #111;
        background: #333;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
     }
     .header-swiper .navbar-swiper.active{
        clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
     }
    .fa-times{
     transform: rotate(180deg);  
     }
            
     .header-swiper .navbar-swiper a{
        display: flex;
        background: #111;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
     }
    .home .content h3{
        font-size: 4rem;
    }
 }
@media (max-width:450px){
    html{
        font-size: 50%;
        }
        .home .home-slider .swiper-slideP{
         width: 27rem;
        } 
   }
   .footer-swiper{
	background:#111;
	}
	.footer-swiper .box-container{
	text-align: center;	
	font-family:'Poppins', sans-serif ;
	text-transform:capitalize;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap:0rem;	
	}
	.footer-swiper .box-container .box h3{
	    font-size: 1.5rem;
		padding:1rem 0;
		color:var(--main-color);	
	}
	.footer-swiper .box-container .box a{
		display:block;
		font-size: 1rem;
		padding:1rem 0;
		color:#eee;
	}
	.footer-swiper .box-container .box a:hover{
		padding-right:1.5rem;
		color:var(--main-color);
		}
	.footer-swiper .box-container .box a i{
		padding-right: .5rem;
		color:var(--main-color);	
	}
	.footer-swiper .box-container .box a:hover i{
		padding-right:1.5rem;
		color:#fff;
	}
	.footer-swiper .copyright{
		text-align:center;
		border-top:.2rem solid #222;
		color:#fff;
		padding:1rem;
		padding-top:1rem;
		padding-bottom:1rem;
		margin-top:1rem;
		font-size:1.5rem;
	}
	.footer-swiper .copyright span{
		color:var(--main-color);
	