<!DOCTYPE html>
<html lang="it">
	<head>
	
	    <th:block th:replace="fragments/resources :: src-head"></th:block>
	    <title>Categories</title>
	    
	</head>
	<body>
	<!-- NAVBAR -->
	<th:block th:replace="fragments/navbar :: navbar"></th:block>	    
	    
	<!-- INIZIO SEZIONE EDITOR DELLA LISTA IMMAGINI -->
	<section class="home">
		<div class="content">
		    <h3>Why don't you upload<span> an image</span>? You have an entire <span> Gallery </span>at your disposal!</h3>
		</div>
	</section>
	<!-- FINE SEZIONE EDITOR DELLA LISTA IMMAGINI   -->
	<!-- INIZIO SEZIONE FORM IMMAGINI-->   
	<div class="container col-6">
	  <form 
	    id="form-img" 
	    th:object="${imageForm}"
	    th:action="@{/images/save}" 
	    method="POST"
	    enctype="multipart/form-data"
	    >
	
	    <input type="hidden" th:field="*{imageEvent}">
	<!-- INIZIO FORM UPLOAD IMMAGINI -->
	    <div class="mb-3 d-flex">
	      <label for="contentMultipart" class="form-label"></label>
	      <input class="form-control img" type="file" id="contentMultipart" th:field="*{contentMultipart}">
	      <button class="btn mx-3" type="submit">Save</button>
	    </div>
	<!-- FINE FORM UPLOAD IMMAGINI -->  
  	<!-- INIZIO SEZIONE ERRORI  -->

		<div>
		<li 
			 class="text-danger fs-4"
	         th:each="err : ${#fields.allErrors()}" 
	         th:text="${err}">
		</li>
		</div>
		
	<!-- INIZIO SEZIONE ERRORI  -->
	  </form>
	</div>
	<!-- FINE SEZIONE FORM IMMAGINI  -->
	
	<!-- IMMAGINE POSTER -->
	<div class="row">
	  <div class="col-4" th:each="ps : ${poster}">
		    <!-- Inizio Card -->
		    <div class="bg-dark text-center rounded-bottom py-2">
			</div>
		    <div class="my-5 mx-2">
			      <img th:src="@{|/images/${ps.id}/content|}" class="img-fluid image-controller" alt="PLACEHOLDER">
			      <!-- Inizio Footer -->
			      <div class="bg-dark text-center rounded-bottom py-2">
			      </div>
			      <!-- Fine Footer   -->
		    </div>
		    <!-- Fine Card   -->
	  </div>
	</div>
		<!-- IMMAGINE POSTER -->
	
	<!-- __Aggiungere un th:if per far apparire il messaggio soltanto se la lista è vuota__
	  <div class="container col-6 py-5">
	      <h1 class="text-center">La lista è vuota.</h1>
	  </div>
	-->
	
	<div class="row">
	  <div class="col-4" th:each="img : ${listImage}">
		    <!-- Inizio Card -->
		    <div class="my-5 mx-2">
			      <img th:src="@{|/images/${img.id}/content|}" class="img-fluid image-controller" alt="PLACEHOLDER">
			      <!-- Inizio Footer -->
			      <div class="bg-dark text-center rounded-bottom py-2">
			      		<!-- INIZIO TASTO RIMUOVI -->
			      		<a 
				    		class="btn btn-warning p-1 text-light col-3" 
				    		th:href="@{|/images/${img.imageEvent.id}/${img.id}/remove|}" 
				    		title="Rimuovi"
				    		onclick="return confirm('Sei sicuro?')"
				    	>
			    			<i class="fa-solid fa-trash-can"></i></a>
			    		</a>
			      		<!-- FINE TASTO RIMUOVI   -->
			      		<!-- INIZIO TASTO SETPOSTER -->
			      		<a 
				    		class="btn btn-warning p-1 text-light col-3" 
				    		th:href="@{|/images/${img.imageEvent.id}/${img.id}/setPoster|}" 
				    		title="Seleziona"
				    		onclick="return confirm('Do you want to use this image as a Poster?')"
				    	>
			    			<i class="fa-solid fa-star"></i></a>
			    		</a>
			      		<!-- FINE TASTO SETPOSTER   -->
			      </div>
			      <!-- Fine Footer   -->
		    </div>
		    <!-- Fine Card   -->
	  </div>
	</div>
	<!-- FINE LISTA IMMAGINI   -->
	<th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>
	<th:block th:replace="fragments/script :: swiper-js"></th:block>
	</body>
</html>