<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/resources :: src-head"></th:block>
    
    <link rel="stylesheet" href="/css/events-style.css" />
    <link rel="stylesheet" href="/css/search.css"></link>
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>   
    <title>Events</title>
<h1 class="heading">
    List of <span>active events:</span>
</h1>

<div class="row justify-content-center">
    <a href="/addEvent" class="btn btn-here col-2 mx-4">New Event</a>
    <a href="./categories" class="btn btn-here col-2 mx-4">New Category</a>
    <a href="./location" class="btn btn-here col-2 mx-4">New Location</a>
</div>

	<div class="form-search">
	  	<form action="/ourEvents/search">
	    	<input class="form-name" type="text" name="queryName" placeholder="Name...">
	    	<input class="form-location" type="text" name="queryLocation" placeholder="Location...">
	    	<input class="form-category" type="text" name="queryCategory" placeholder="Category...">
	    	<button class="button-search">Sort</button>
	    </form>
  	</div>
    <div class="container-card">
        <div class="card-event" th:each="e : ${listEvents}">
        	<div class="canceled">
        		<p class="cancel">Canceled</p>
        	</div>
	        <div class="title-block">
	            <h2 th:text="${e.name}"></h2>
	            <div class="info-button" >
					<a th:href="@{|/events/${e.id}|}" title="Info">
				  		<i class="fa-solid fa-info"></i>
				  	</a>
	            </div>
	        </div>
	    	<div class="img-container">

            	<img class="card-img" th:if="${e.eventImage.isEmpty() == false}" th:src="@{|/images/${e.getPosterImg.id}/content|}">

	        </div>
	        <div class="tags">
	        	<p th:each="c : ${e.categories}" th:text="${c.name}"></p>
	        </div>
	        <div class="location">
	            <p th:each="l : ${e.eventLocation}" th:text="${l.name}"></p>
	        </div>
	        <div class="dates">
		        <div class="start-date">
	            	<h4>Start date</h4>
	            	<p th:text="${e.startDate}"></p>
	            </div>
	            <div class="end-date">
	            	<h4>End date</h4>
	            	<p th:text="${e.endDate}"></p>
	            </div>
            </div>
            <div class="buttons">
            	<div class="images-button">
	            	<a th:href="@{|/booket/${e.id}|}" class="btn btn-here">
						<i class="fa-solid fa-ticket fs-1"></i>	            	
					</a>
            	</div>
            	<!-- PLACEHOLDER SECOND BTN
            	<div class="images-button">
			  		<a th:href="@{|/images/${e.id}|}" title="Add image">
			  			<i class="fa-regular fa-images"></i>
			  		</a> 
            	</div>
            	-->
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>
    <th:block th:replace="fragments/script :: swiper-js"></th:block>
    <th:block th:replace="fragments/footer :: footer"></th:block>
	</body>
</html>