<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
	    <th:block th:replace="fragments/resources :: src-head"></th:block>
	    <link rel="stylesheet" href="/css/home-events-style.css" />
	    <title>Booket</title>
	</head>
	<body>
	    <th:block th:replace="fragments/navbar :: navbar"></th:block> 
	<!-- home section start -->
	<section class="home" id="home">
		<div class="content swiper-font">
		    <h3>it's time to have fun!<span> Booket, </span>The best<span> event organizer.</span></h3>
		    <a href="/ourEvents" class="btn">our events</a>
		</div>
		
		<div class="swiper-container home-slider">
		    <div class="swiper-wrapper images">
		        <div class="swiper-slide image"><img src="img/concert.jpg" alt=""></div>
		        <div class="swiper-slide"><img src="img/colors.jpg" alt=""></div>
		        <div class="swiper-slide"><img src="img/fiera.jpg" alt=""></div>  
		        <div class="swiper-slide"><img src="img/oratore.jpg" alt=""></div>
		        <div class="swiper-slide"><img src="img/party.jpg" alt=""></div>
		        <div class="swiper-slide"><img src="img/oratore2.jpg" alt=""></div>
		    </div>
		</div>
	</section>
	<br>
	<!-- about section start-->
	<section class="about" id="about">
	<h1 class="heading"><span>about</span> us </h1> 
	<div class="row">
	<div class="image">
	    <img src="img/about.jfif" alt="">
	    </div>
	    <div class="content">
	        <h3>we will help you have a great time!</h3>
	        <p>lorem ipsum dolor sit amet consectetur adipisicing elit.Ullam labore fugiat ut esse perferendis perspiciatis provident dolores fuga in ficilis, Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quos beatae similique tempora explicabo doloribus, natus alias rem, fuga dolor sapiente repudiandae rerum voluptatibus dicta. Doloremque perferendis iure nemo facilis?</p>
	        <p>lorem ipsum dolor sit amet consectetur adipisicing elit.Ullam labore fugiat ut esse perferendis perspiciatis provident dolores fuga in ficilis, Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quos beatae similique tempora explicabo doloribus, natus alias rem, fuga dolor sapiente repudiandae rerum voluptatibus dicta. Doloremque perferendis iure nemo facilis?</p>
	        <a href="/contact" class="btn">contact us</a>
	    </div>
	</div>
	</section>
    <!-- about section end-->
<th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>	
<th:block th:replace="fragments/script :: swiper-js"></th:block>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
