<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/resources :: src-head"></th:block>
    <title>Booket</title>
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"></th:block> 
    <div id="menu-bars" class="fas fa-bars"></div>
    <!-- header section end-->
<!-- home section start -->
<section class="home" id="home">
<div class="content">
    <h3>it's time to have fun!<span> Booket, </span>The best<span> event organizer.</span></h3>
    <a href="#" class="btn">contact us</a>
</div>
<div class=" swiper-container home-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/concert.jpg" alt=""></div>
        <div class="swiper-slide"><img src="images/colors.jpg" alt=""></div>
        <div class="swiper-slide"><img src="images/fiera.jpg" alt=""></div>  
         <div class="swiper-slide"><img src="images/oratore.jpg" alt=""></div>
         <div class="swiper-slide"><img src="images/party.jpg" alt=""></div>
         <div class="swiper-slide"><img src="images/oratore2.jpg" alt=""></div>
     </div>
    </div>
</section>
<th:block th:replace="fragments/script :: script"></th:block>
</body>
</html>