<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/resources :: src-head"></th:block>
    <link rel="stylesheet" href="/css/location-style.css" />
    <title>Location</title>
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"></th:block> 
    <h1 class="location-title heading"><span>Locations</span><i class="fa-solid fa-location-dot"></i></h1> 
    <div class="button">
    	<a th:href="@{/location/add}">Add a location</a>
    </div>
    <table class="location-table" th:if="${location.size() > 0}">
    	<thead>
    		<tr>
    			<th>Name</th>
    			<th>Address</th>
    			<th>Description</th>
    			<th>Capacity</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr th:each="l : ${location}">
    			<td th:text="${l.name}"></td>
    			<td th:text="${l.address}"></td>
    			<td th:text="${l.description}"></td>
    			<td th:text="${l.capacity}"></td>
    			<td>
    				<a class=" delete-button" th:href="@{|/location/delete/${l.id}|}"><i class="fa-solid fa-trash-can"></i></a>
    				<a class="edit-button" th:href="@{|/location/edit/${l.id}|}"><i class="fa-solid fa-pen-to-square"></i></a>
    			</td>
    		</tr>
    	</tbody>
    
    </table>
    <div class="no-locations" th:unless="${location.size() > 0}">
  		<h3>Sorry, we have no locations to display yet <i class="fa-regular fa-face-frown"></i></h3>
  	</div>
  	<th:block th:replace="fragments/themeToggler :: themeToggler"></th:block>
  	<th:block th:replace="fragments/script :: swiper-js"></th:block>
  	<th:block th:replace="fragments/footer :: footer"></th:block>

</body>
</html>